[submodule "ipv4-data-server"]
	path = ipv4-data-server
	url = git@github.com:CircleClick/ipv4-data-server.git
[submodule "ipv4-data-explorer"]
	path = ipv4-data-explorer
	url = git@github.com:CircleClick/ipv4-data-explorer.git
